xsd/hvml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://hypervideo.tech/hvml#" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hvml="https://hypervideo.tech/hvml#" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="xhtml.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/XMLSchema-instance" schemaLocation="xsi.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- <include href="atom.rng" /> -->
  <xs:group name="anyXHTML">
    <xs:sequence>
      <xs:any namespace="http://www.w3.org/1999/xhtml" processContents="skip"/>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="anyCSS">
    <xs:anyAttribute namespace="https://www.w3.org/TR/CSS/" processContents="skip"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="atomPlainTextConstruct">
    <xs:attributeGroup ref="hvml:hvmlGlobalAttributes"/>
    <xs:attribute name="type">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="text"/>
          <xs:enumeration value="html"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="atomXHTMLTextConstruct" abstract="true">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="hvml:anyXHTML"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="atomXHTMLTextConstruct">
    <xs:attributeGroup ref="hvml:hvmlGlobalAttributes"/>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="xhtml"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="atomTextConstruct" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="0" ref="hvml:atomXHTMLTextConstruct"/>
    </xs:sequence>
    <xs:attribute name="type">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="text"/>
          <xs:enumeration value="html"/>
          <xs:enumeration value="xhtml"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="hvml:hvmlGlobalAttributes"/>
  </xs:complexType>
  <xs:attributeGroup name="xmlSpace">
    <xs:attribute ref="xml:space" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="xmlLang">
    <xs:attribute ref="xml:lang" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="xmlBase">
    <xs:attribute ref="xml:base" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="xmlId">
    <xs:attribute ref="xml:id" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="xmlGlobalAttributes">
    <xs:attribute ref="xml:lang"/>
    <xs:attribute ref="xml:space"/>
    <xs:attribute ref="xml:base"/>
    <xs:attribute ref="xml:id"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="hvmlGlobalAttributes">
    <xs:attributeGroup ref="hvml:xmlGlobalAttributes"/>
  </xs:attributeGroup>
  <!-- http://www.microhowto.info/howto/match_arbitrary_content_using_relax_ng.html -->
  <xs:group name="anyContent">
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="hvml:anyElement"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="anyElement">
    <xs:sequence>
      <xs:any processContents="skip"/>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="anyAttribute">
    <xs:anyAttribute processContents="skip"/>
  </xs:attributeGroup>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="episode" type="xs:integer"/>
  <xs:element name="recorded" type="xs:date"/>
  <xs:element name="description" type="hvml:atomTextConstruct"/>
  <xs:element name="entity">
    <xs:complexType mixed="true">
      <xs:attribute name="site" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="uri" type="xs:anyURI"/>
  <xs:complexType name="venue">
    <xs:sequence>
      <xs:element ref="hvml:venue"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="venue">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="hvml:entity"/>
        <xs:element minOccurs="0" ref="hvml:uri"/>
        <xs:element minOccurs="0" ref="hvml:title"/>
      </xs:sequence>
      <xs:attribute name="type">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="site"/>
            <xs:enumeration value="theater"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <!--
    scope="screening"
    type="theatrical"
    admission="private"
    datetime="2011-09-16"
    locale="en-US"
  -->
  <xs:element name="showing">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="hvml:venue">
          <xs:attribute name="scope">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="release"/>
                <xs:enumeration value="screening"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="type">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="internet"/>
                <xs:enumeration value="theatrical"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="admission">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="public"/>
                <xs:enumeration value="private"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="datetime">
            <xs:simpleType>
              <xs:union memberTypes="xs:dateTime xs:date xs:time"/>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="locale" type="xs:language"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:group name="name">
    <xs:sequence>
      <xs:element name="name" type="hvml:atomTextConstruct"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="simpleName">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
  </xs:group>
  <xs:simpleType name="nonNegativeDecimal">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="percentage">
    <xs:restriction base="xs:token">
      <xs:pattern value="([\-+])?(\d*)\.?(\d*)%"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nonNegativePercentage">
    <xs:restriction base="xs:token">
      <xs:pattern value="([+])?(\d*)\.?(\d*)%"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="animate">
    <xs:complexType>
      <xs:attribute name="startTime" type="hvml:nonNegativeDecimal"/>
      <xs:attribute name="starttime" type="hvml:nonNegativeDecimal"/>
      <xs:attribute name="endTime" type="hvml:nonNegativeDecimal"/>
      <xs:attribute name="endtime" type="hvml:nonNegativeDecimal"/>
      <xs:attribute name="startX" type="hvml:percentage"/>
      <xs:attribute name="startx" type="hvml:percentage"/>
      <xs:attribute name="startY" type="hvml:percentage"/>
      <xs:attribute name="starty" type="hvml:percentage"/>
      <xs:attribute name="endX" type="hvml:percentage"/>
      <xs:attribute name="endx" type="hvml:percentage"/>
      <xs:attribute name="endY" type="hvml:percentage"/>
      <xs:attribute name="endy" type="hvml:percentage"/>
    </xs:complexType>
  </xs:element>
  <!-- https://www.w3.org/TR/xlink11/#actuate-att -->
  <xs:attributeGroup name="xlinkActuate">
    <xs:attribute ref="xlink:actuate" use="required"/>
    <xs:attributeGroup ref="hvml:xlinkHref"/>
  </xs:attributeGroup>
  <!-- https://www.w3.org/TR/xlink11/#show-att -->
  <xs:attributeGroup name="xlinkShow">
    <xs:attribute ref="xlink:show" use="required"/>
  </xs:attributeGroup>
  <!--
    <goto
      on="duration"
      xlink:actuate="onRequest"
      xlink:href="https://www.facebook.com/hugh.guiney/videos/10100195051457860/"
      width="70%"
      height="13%"
      css:font-size="calc(384 / 150 * 1vw)"
      css:font-family="'Noto Sans CJK JP', 'Noto Sans CJK', 'Noto Sans', sans-serif"
      css:white-space="nowrap"
      css:overflow="hidden"
  -->
  <xs:element name="goto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="hvml:animate"/>
      </xs:sequence>
      <xs:attribute name="on" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="durationStart"/>
            <xs:enumeration value="duration"/>
            <xs:enumeration value="durationEnd"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="xlink:actuate"/>
      <xs:attribute ref="xlink:href"/>
      <xs:attribute name="width" type="hvml:nonNegativePercentage"/>
      <xs:attribute name="height" type="hvml:nonNegativePercentage"/>
      <xs:attributeGroup ref="hvml:anyCSS"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="choice">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="hvml:name"/>
        <xs:element ref="hvml:goto"/>
      </xs:sequence>
      <xs:attributeGroup ref="hvml:hvmlGlobalAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="xlinkHref">
    <xs:attribute ref="xlink:href" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="dimensionAttributes">
    <xs:attribute name="width" use="required" type="xs:positiveInteger"/>
    <xs:attribute name="height" use="required" type="xs:positiveInteger"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="dimensionAttributes--percentage">
    <xs:attribute name="width" use="required" type="hvml:nonNegativePercentage"/>
    <xs:attribute name="height" use="required" type="hvml:nonNegativePercentage"/>
  </xs:attributeGroup>
  <xs:group name="dimensionElements">
    <xs:sequence>
      <xs:element ref="hvml:width"/>
      <xs:element ref="hvml:height"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="width" type="xs:positiveInteger"/>
  <xs:element name="height" type="xs:positiveInteger"/>
  <xs:element name="poster">
    <xs:complexType>
      <xs:attributeGroup ref="hvml:hvmlGlobalAttributes"/>
      <xs:attribute name="width" type="xs:positiveInteger"/>
      <xs:attribute name="height" type="xs:positiveInteger"/>
      <xs:attributeGroup ref="hvml:xlinkHref"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="frametype">
    <xs:complexType mixed="true">
      <xs:attribute name="abbr" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="par">
    <xs:complexType>
      <xs:attribute name="x" use="required" type="xs:integer"/>
      <xs:attribute name="y" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="fps">
    <xs:complexType>
      <xs:attribute name="rate" use="required" type="xs:integer"/>
      <xs:attribute name="scale" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="mime" type="xs:string"/>
  <xs:element name="bitrate">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:nonNegativeInteger">
          <xs:attribute name="type" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="cbr"/>
                <xs:enumeration value="vbr"/>
                <xs:enumeration value="abr"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="bitdepth" type="xs:string"/>
  <xs:element name="codec">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="hvml:simpleName"/>
        <xs:element ref="hvml:mime"/>
        <xs:element minOccurs="0" ref="hvml:bitrate"/>
        <xs:element minOccurs="0" ref="hvml:bitdepth"/>
      </xs:sequence>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="video"/>
            <xs:enumeration value="audio"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="container">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="hvml:simpleName"/>
        <xs:element ref="hvml:mime"/>
        <xs:element ref="hvml:codec"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="file">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="hvml:dimensionElements"/>
        <xs:element minOccurs="0" ref="hvml:container"/>
      </xs:sequence>
      <xs:attributeGroup ref="hvml:hvmlGlobalAttributes"/>
      <xs:attribute name="label"/>
      <xs:attributeGroup ref="hvml:xlinkHref"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="presentation">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="hvml:poster"/>
        <xs:element ref="hvml:frametype"/>
        <xs:element ref="hvml:par"/>
        <xs:element ref="hvml:fps"/>
        <xs:element ref="hvml:file"/>
        <xs:element ref="hvml:choice"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="video">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="hvml:title"/>
        <xs:element ref="hvml:episode"/>
        <xs:element ref="hvml:recorded"/>
        <xs:element ref="hvml:description"/>
        <xs:element ref="hvml:showing"/>
        <xs:element ref="hvml:presentation"/>
      </xs:choice>
      <xs:attributeGroup ref="hvml:hvmlGlobalAttributes"/>
      <xs:attribute name="type">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="narrative"/>
                    <xs:enumeration value="ad"/>
                    <xs:enumeration value="personal"/>
                    <xs:enumeration value="historical"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="hvml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="hvml:video"/>
      </xs:sequence>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute ref="xsi:schemaLocation"/>
      <xs:attribute name="hidden"/>
      <xs:attribute ref="xhtml:hidden"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
